<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content="Jekyll v{{ jekyll.version }}">

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,300,700,700italic|Open+Sans:400italic,600italic,700italic,700,600,400|Inconsolata:400,700">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		{% seo %}
		{% feed_meta %}

		<script async defer data-domain="kisslauncher.com" src="https://t.neamar.fr/js/plausible.js"></script>
	</head>

	<body class="{{ page.body_class }}">
		<header>
			<div class="wrapper">
				<section class="top-bar">
					<div class="logo"><a href="/">{% include logo.html %}</a></div>
					{% include navigation.html %}
				</section>
				<section class="hero_search">
					<h1>Documentation</h1>
					<p>Everything you need to know about monocles launcher.</p>
					{% include search.html %}
				</section>
			</div>

		</header>
		<section class="content">
			<div class="wrapper">
				{{ content }}
			</div>
		</section>

		{% include footer.html %}
		<script>
			$(function() {
				$('a[href*=\\#]').not(".no-smooth").on('click', function(event){
					var el = $(this.hash);
					if (el.length > 0) {
						// event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
					}
				});

				$('svg').click(function() {
					$(this).parent('form').submit();
				});
			});

			document.getElementById("open-nav").addEventListener("click", function (event) {
				event.preventDefault();
				document.body.classList.toggle("nav-open");
			});
		</script>
	</body>
</html>
