---
faq:
  - question: What is monocles launcher?
    answer: KISS is a fast, small and open-source launcher for Android, developed on GitHub and published on both Google Play Store and F-Droid.
  - question: What's a launcher?
    answer: A launcher is the application that appears on Android when you press the "Home" button. It's usually used to display all available apps on the device.
  - question: Why is it named KISS?
    answer: KISS stands for "Keep it Simple and Stupid". It's a wink at the application itself, which should be very simple to use.
  - question: What's KISS licence?
    answer: KISS is published as GPL. Without going into <a href="https://github.com/Neamar/KISS/blob/master/LICENSE">the Legal Jibber Jabber</a>, this roughly means that you can change, update, package, distribute and make money as long as you share back the changes.
  - question: Who is building this launcher?
    answer: KISS is developed on GitHub, <a href="https://github.com/Neamar/KISS/graphs/contributors">from multiple contributors</a>.
  - question: How to use monocles launcher?
    answer: Type in the name of an application or contact in the search box at the bottom. Select any result, and KISS will learn along the way!
  - question: How do I change KISS settings?
    answer: Click the three dots icon to the right of the search box, and setup to your taste.
  - question: How can I uninstall applications?
    answer: Long press the selected application and select uninstall.
  - question: How can I see all installed applications?
    answer: Press the green circle to the right of the search field to display all applications.
  - question: I have an idea, but I don't know how to code!
    answer: <a href="https://github.com/Neamar/KISS/issues/new">Open an issue</a>, explain what you're looking for or what isn't working, and answer any questions developers may have!
  - question: I have an idea, and I know how to code!
    answer: <a href="https://github.com/Neamar/KISS/">Head over to KISS source code</a>, clone it and get started! Send us your pull request, explain what you're trying to achieve and you're good to go.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
